@use 'variables' as vars;

#search_container{
    max-width: 330px;
    display: grid;
    border: 3px solid vars.$s_color;
    align-items: center;
    border-radius: 10px;
    grid-template-columns: 1fr 0px 80px;
    grid-template-rows: 40px;
    align-content: center;
    
    hr {
        width: 0px;
        height: 30px;
        border: 0.1px solid vars.$s_color;
    }
}


#search_input {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 1fr;
    font-size: 20px;
    justify-content: center;
    margin-left: 7px;
}

#search_input input {
    border: none;
    background-color: transparent;
    outline: none;
    font-family: vars.$font_family;
    color: vars.$s_color;
}

.button {
    display: grid;
    height: 100%;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    color: vars.$s_color;
}

.button.clicked{
    color: #dddd;
}

#noSearch{
    display: grid;
    grid-template-rows: 50px 50px;
}

.searchAll{
    display: grid;
    max-width: 330px;
    border-radius: 10px;
    background-color: #fff;
    justify-content: center;
    font-family: vars.$font_family;
    align-items: center;
    background-color: vars.$s_color;
    color: #fff;
    height: 50px;
}

#or{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-content: center;
    max-width: 330px;
    font-family: vars.$font_family;
    div{
        z-index: 1;
        position: absolute;
        justify-self: center;
        align-self: center;
        background-color: #fff !important;
        width: 50px;
        text-align: center;
    }
    hr{
        position: relative;
        width: 100%;
        align-self: center;
        justify-content: center;
        height: 00px;
        border: 0.1px solid vars.$s_color;
        border-color: vars.$s_color;
    }
}